<div class="container-fluid">

  <div class="jumbotron">
    <h1 class="display-6">Movimentação</h1>
    <p class="lead-1">Inclusão de uma nova movimentação</p>
    <hr class="my-2">
    
    <div class="row g-4">
      <div class="col-md-4">
        <label for="iDataHora" class="form-label">Data</label>
        <div class="input-group">
          <input type="date" [(ngModel)]="dataHora" class="form-control" id="iDataHora">
          <span class="input-group-text">📆</span>
        </div>
      </div>
      <div class="col-md-8">
        <label for="iCorrentista" class="form-label">Correntista</label>
        <select id="iCorrentista" [(ngModel)]="correntista" class="form-select">
          <option *ngFor="let c of correntistas" [ngValue]="c">{{c.cpf}}-{{c.nome}}</option>
        </select>
      </div>
      <div class="col-md-13">
        <label for="iDescricao" class="form-label">Descrição</label>
        <input type="text" [(ngModel)]="descricao" class="form-control form-control-lg" id="iDescricao" placeholder="Informe uma descrição">
      </div>
      <div class="col-md-3">
        <label for="iTipo" class="form-label">Tipo Movimentação</label>
        <select id="iTipo" [(ngModel)]="tipo" class="form-select">
          <option selected>Tipos...</option>
          <option>RECEITA</option>
          <option>DESPESA</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="iValor" class="form-label">R$ Valor</label>
        <input type="text" [(ngModel)]="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control" id="iValor">
      </div>
      <div class="d-grid gap-2 d-md-flex ">
        <button class="btn btn-danger" (click)="save()" type="button">Confirmar</button>
        <a routerLink="/movimentacoes" class="btn btn-outline-danger">Cancelar/Voltar</a>
      </div>

    </div>

  </div>

</div>


