<!-- Check-Circle-Fill  Alert -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
<!-- End Check-Circle-Fill Alert -->

<!-- Alert -->
<div *ngIf="alert" class="alert alert-success alert-dismissible d-flex fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    <strong>Sucesso!</strong> Correntista salvo com sucesso.
    <button type="button" class="btn-close" (click)="closeAlert()" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<!-- End Alert -->

<!-- Content Correntista Component -->
<div class="container-fluid">
  <div class="jumbotron">

    <!-- Header -->
    <h1 class="display-6">Correntistas</h1>
    <p class="lead-1">Cadastro de correntista</p>
    <p class="lead-2">* Preencha os campos abaixo para criar um novo correntista</p>
    <hr class="my-2">
    <!-- End Header -->

    <!-- Create New Correntista -->
    <div class="row g-4 formCorrentista">
      <div class="col-md-3">
        <div class="form-floating">
          <input class="form-control" name="cpf" id="iCpf" [(ngModel)]="cpf" mask="000.000.000-00" placeholder="CPF">
            <label for="floatingInput" class="textCpf">CPF</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" name="nome" id="iNome" [(ngModel)]="nome" placeholder="Nome do Correntista">
          <label for="floatingInput" class="textNome">Nome completo</label>
        </div>
      </div>

      <!-- Buttons Salvar/Voltar -->
      <div class="d-grid gap-2 d-md-flex col">
        <button class="btn-salvar btn btn-danger" type="button" (click)="save()" >Salvar</button>
      <a routerLink="/home" class="btn btn-outline-danger btn-voltar">Voltar</a>
      </div>
      <hr class="my-2">
      <!-- End Buttons Salvar/Voltar -->

      <!-- Button Excluir Correntistas -->
      <div>
        <button class="btn btn-outline-danger btn-excluir-correntistas" (click)="openModal(template)" type="button" >Excluir Correntistas</button>
      </div>
       <!-- End Button Excluir Correntistas -->

    </div>
    <!-- End Create New Correntista  -->

  </div>
  <!-- End div jumbotron -->

  <!-- Cards From Correntistas -->
  <div  class="row row-cols-1 row-cols-md-3 g-2">
    <div *ngFor="let item of correntistas; index as i" class="col">
      <div class="card mx-auto text-center cardCorrentista">
        <div class="card-header">{{item.nome}}</div>
        <div class="card-body">
          <h4 class="card-title">CPF {{item.cpf | mask:'000.000.000-00'}}</h4>
          <p class="card-text">Conta N° {{item.conta.numero}}</p>
          <p class="card-text">Saldo {{item.conta.saldo | currency:'BRL'}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Cards From Correntistas  -->


</div>
<!-- End Content Correntista Component -->

<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Qual correntista você deseja deletar?</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div *ngFor="let c  of correntistas; index as i" class="modal-body">
    <p>Correntista: {{c.nome}}</p>
    <p>Cpf: {{c.cpf}}</p>
    <p>Saldo da conta: {{c.conta.saldo}}</p>
    <button type="button" class="btn btn-outline-danger" (click)="delete(c.id)">Excluir {{c.nome}}</button>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="modalRef?.hide()" class="btn btn-danger" >Cancelar</button>
  </div>
</ng-template>
<!-- End Modal -->
