.btn-danger {
  background-color: #ec0000;
}

.btn-outline-danger {
  color: #ec0000;
}

.btn-excluir-correntistas {
  font-size: 15.2px;
}

.btn-voltar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.textCpf, .textNome {
  color: #696969;
}

hr {
  color: #ec0000;
}

.formCorrentista {
  margin-bottom: 3%;
}

.cardCorrentista {
  width: 15rem;
}

.card-header {
  background-color: aliceblue;
}
